<% layout('../layout/boilerplate') -%>

<section>

    <% if (msg && msg.length) { %>
        <div class="alert alert-success alert-dismissible fade show" role="alert">
            <span><%=msg%> </span>
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
    <% } %>

    <%- include('../partials/card') -%>
</section>
